:root {
  --primary-color: #c3dbf79c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #3973b9 0%, #616a9a 100%);
  overflow: hidden;
}

.content {
  position: absolute;
}

.button {
  background-color: #ffffff;
  border: 1px solid rgba(195, 219, 247, 0.6117647059);
  padding: 0.2rem 0.3rem;
  width: 130%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1em;
}

#ligth-icon {
  transform: translateZ(10px) !important;
}

button {
  all: unset;
  cursor: pointer;
}

.dark-mode {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.3em;
  --top-offset: 69vh;
  --fall-duration: 10.47s;
  --fall-delay: 9.216s;
}
.star:nth-child(2) {
  --star-tail-length: 6.9em;
  --top-offset: 44vh;
  --fall-duration: 8.739s;
  --fall-delay: 1.339s;
}
.star:nth-child(3) {
  --star-tail-length: 5.6em;
  --top-offset: 97vh;
  --fall-duration: 10.143s;
  --fall-delay: 6.338s;
}
.star:nth-child(4) {
  --star-tail-length: 5.1em;
  --top-offset: 17vh;
  --fall-duration: 7.537s;
  --fall-delay: 4.369s;
}
.star:nth-child(5) {
  --star-tail-length: 5.2em;
  --top-offset: 26vh;
  --fall-duration: 9.986s;
  --fall-delay: 9.433s;
}
.star:nth-child(6) {
  --star-tail-length: 6.3em;
  --top-offset: 11vh;
  --fall-duration: 8.396s;
  --fall-delay: 2.062s;
}
.star:nth-child(7) {
  --star-tail-length: 5.7em;
  --top-offset: 8vh;
  --fall-duration: 7.394s;
  --fall-delay: 8.068s;
}
.star:nth-child(8) {
  --star-tail-length: 5.9em;
  --top-offset: 97vh;
  --fall-duration: 8.783s;
  --fall-delay: 3.34s;
}
.star:nth-child(9) {
  --star-tail-length: 5.9em;
  --top-offset: 26vh;
  --fall-duration: 11.145s;
  --fall-delay: 6.14s;
}
.star:nth-child(10) {
  --star-tail-length: 6.8em;
  --top-offset: 35vh;
  --fall-duration: 6.283s;
  --fall-delay: 2.226s;
}
.star:nth-child(11) {
  --star-tail-length: 7.5em;
  --top-offset: 60vh;
  --fall-duration: 9.57s;
  --fall-delay: 6.22s;
}
.star:nth-child(12) {
  --star-tail-length: 5.5em;
  --top-offset: 41vh;
  --fall-duration: 9.006s;
  --fall-delay: 3.663s;
}
.star:nth-child(13) {
  --star-tail-length: 6.5em;
  --top-offset: 94vh;
  --fall-duration: 11.357s;
  --fall-delay: 3.524s;
}
.star:nth-child(14) {
  --star-tail-length: 5.2em;
  --top-offset: 71vh;
  --fall-duration: 11.843s;
  --fall-delay: 8.268s;
}
.star:nth-child(15) {
  --star-tail-length: 5.2em;
  --top-offset: 78vh;
  --fall-duration: 7.084s;
  --fall-delay: 0.817s;
}
.star:nth-child(16) {
  --star-tail-length: 5.4em;
  --top-offset: 67vh;
  --fall-duration: 10.589s;
  --fall-delay: 3.803s;
}
.star:nth-child(17) {
  --star-tail-length: 6.7em;
  --top-offset: 56vh;
  --fall-duration: 10.878s;
  --fall-delay: 4.968s;
}
.star:nth-child(18) {
  --star-tail-length: 5.3em;
  --top-offset: 37vh;
  --fall-duration: 8.188s;
  --fall-delay: 9.48s;
}
.star:nth-child(19) {
  --star-tail-length: 6.9em;
  --top-offset: 58vh;
  --fall-duration: 6.949s;
  --fall-delay: 8.962s;
}
.star:nth-child(20) {
  --star-tail-length: 5.4em;
  --top-offset: 60vh;
  --fall-duration: 9.402s;
  --fall-delay: 3.859s;
}
.star:nth-child(21) {
  --star-tail-length: 5.8em;
  --top-offset: 39vh;
  --fall-duration: 10.186s;
  --fall-delay: 3.641s;
}
.star:nth-child(22) {
  --star-tail-length: 5.4em;
  --top-offset: 43vh;
  --fall-duration: 9.762s;
  --fall-delay: 8.413s;
}
.star:nth-child(23) {
  --star-tail-length: 5.1em;
  --top-offset: 49vh;
  --fall-duration: 10.021s;
  --fall-delay: 1.509s;
}
.star:nth-child(24) {
  --star-tail-length: 6em;
  --top-offset: 15vh;
  --fall-duration: 8.844s;
  --fall-delay: 8.688s;
}
.star:nth-child(25) {
  --star-tail-length: 6em;
  --top-offset: 43vh;
  --fall-duration: 9.878s;
  --fall-delay: 4.392s;
}
.star:nth-child(26) {
  --star-tail-length: 7.2em;
  --top-offset: 27vh;
  --fall-duration: 7.666s;
  --fall-delay: 8.477s;
}
.star:nth-child(27) {
  --star-tail-length: 7.1em;
  --top-offset: 37vh;
  --fall-duration: 8.266s;
  --fall-delay: 5.123s;
}
.star:nth-child(28) {
  --star-tail-length: 5.2em;
  --top-offset: 37vh;
  --fall-duration: 9.906s;
  --fall-delay: 5.417s;
}
.star:nth-child(29) {
  --star-tail-length: 5.9em;
  --top-offset: 93vh;
  --fall-duration: 11.756s;
  --fall-delay: 6.215s;
}
.star:nth-child(30) {
  --star-tail-length: 5.7em;
  --top-offset: 37vh;
  --fall-duration: 9.17s;
  --fall-delay: 8.212s;
}
.star:nth-child(31) {
  --star-tail-length: 5.7em;
  --top-offset: 65vh;
  --fall-duration: 9.985s;
  --fall-delay: 7.6s;
}
.star:nth-child(32) {
  --star-tail-length: 5.8em;
  --top-offset: 64vh;
  --fall-duration: 8.115s;
  --fall-delay: 0.04s;
}
.star:nth-child(33) {
  --star-tail-length: 6.9em;
  --top-offset: 79vh;
  --fall-duration: 7.541s;
  --fall-delay: 8.55s;
}
.star:nth-child(34) {
  --star-tail-length: 6.6em;
  --top-offset: 48vh;
  --fall-duration: 7.463s;
  --fall-delay: 3.713s;
}
.star:nth-child(35) {
  --star-tail-length: 6.1em;
  --top-offset: 96vh;
  --fall-duration: 10.769s;
  --fall-delay: 7.401s;
}
.star:nth-child(36) {
  --star-tail-length: 6.9em;
  --top-offset: 45vh;
  --fall-duration: 10.302s;
  --fall-delay: 5.632s;
}
.star:nth-child(37) {
  --star-tail-length: 7.4em;
  --top-offset: 76vh;
  --fall-duration: 8.175s;
  --fall-delay: 6.166s;
}
.star:nth-child(38) {
  --star-tail-length: 5.8em;
  --top-offset: 66vh;
  --fall-duration: 10.547s;
  --fall-delay: 1.946s;
}
.star:nth-child(39) {
  --star-tail-length: 6.1em;
  --top-offset: 22vh;
  --fall-duration: 9.561s;
  --fall-delay: 4.378s;
}
.star:nth-child(40) {
  --star-tail-length: 5.4em;
  --top-offset: 18vh;
  --fall-duration: 6.53s;
  --fall-delay: 0.045s;
}
.star:nth-child(41) {
  --star-tail-length: 5.5em;
  --top-offset: 58vh;
  --fall-duration: 9.423s;
  --fall-delay: 9.836s;
}
.star:nth-child(42) {
  --star-tail-length: 5.8em;
  --top-offset: 79vh;
  --fall-duration: 11.376s;
  --fall-delay: 9.701s;
}
.star:nth-child(43) {
  --star-tail-length: 5.5em;
  --top-offset: 15vh;
  --fall-duration: 7.91s;
  --fall-delay: 9.974s;
}
.star:nth-child(44) {
  --star-tail-length: 6.5em;
  --top-offset: 50vh;
  --fall-duration: 6.844s;
  --fall-delay: 9.58s;
}
.star:nth-child(45) {
  --star-tail-length: 5.5em;
  --top-offset: 70vh;
  --fall-duration: 9.596s;
  --fall-delay: 7.899s;
}
.star:nth-child(46) {
  --star-tail-length: 5.4em;
  --top-offset: 98vh;
  --fall-duration: 9.318s;
  --fall-delay: 4.802s;
}
.star:nth-child(47) {
  --star-tail-length: 7.1em;
  --top-offset: 48vh;
  --fall-duration: 11.702s;
  --fall-delay: 1.908s;
}
.star:nth-child(48) {
  --star-tail-length: 6.3em;
  --top-offset: 22vh;
  --fall-duration: 10.149s;
  --fall-delay: 6.025s;
}
.star:nth-child(49) {
  --star-tail-length: 6.7em;
  --top-offset: 34vh;
  --fall-duration: 10.597s;
  --fall-delay: 3.758s;
}
.star:nth-child(50) {
  --star-tail-length: 6.2em;
  --top-offset: 11vh;
  --fall-duration: 7.488s;
  --fall-delay: 1.647s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*# sourceMappingURL=style.css.map */
